<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:jaxws="http://cxf.apache.org/jaxws"
             xsi:schemaLocation="
                   http://www.springframework.org/schema/beans

                   http://www.springframework.org/schema/beans/spring-beans.xsd
                   http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
 
	<import resource="classpath:META-INF/cxf/cxf.xml"/>
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
	
	<bean id="cxfWebServiceImpl" class="com.ben.service.impl.CxfWebServiceImpl"></bean>  
	<!-- 相当于使用JaxWsServerFactoryBean进行服务发布 -->    
	<jaxws:server id="cxfWebService" serviceClass="com.ben.service.CxfWebService" serviceBean="#cxfWebServiceImpl" address="/cxfWebService"></jaxws:server>  
 </beans>
